/*
 * Arquivo de configuração para geração do ambiente k8s de teste
 */
 
// A variável principal é o nome do gerador, que é OBRIGRATÓRIA
generator="kubernetes"

// Porta default utilizada pelos serviços
deployment.defaultPort=80
deployment.SvcCliente.port=80


// 
security.enabled = false
 
 
 
// É possível criar overrides para diferentes ambiente
environments {
 	qa {
 	}
 
 	prod {
		//messaging.provider="rabbitmq-ha"
 	}
 
 	local {
 	}
}