/*
 * Arquivo de configuração para geração do ambiente k8s de teste
 */
 
// A variável principal é o nome do gerador, que é OBRIGRATÓRIA
generator="kubernetes"

// Porta default utilizada pelos serviços
deployment.defaultPort=80
deployment.SvcCliente.port=80

// Define o provedor de memmsageria
messaging.provider="rabbitmq"

// Indica se o serviço do RabbitMQ será criado ou não. Permite assim
// usar um RabbitMQ externo
messaging.external = false 

// 
security.enabled = false
security.provider="keycloak" 
 
 
 
// É possível criar overrides para diferentes ambiente
environments {
 	qa {
 	}
 
 	prod {
		//messaging.provider="rabbitmq-ha"
 	}
 
 	local {
 	}
}