/*
 * Arquivo de configuração para geração do ambiente k8s de teste
 */
 
// A variável principal é o nome do gerador, que É OBRIGRATÓRIA
generator="ec2"

// Porta default utilizada pelos serviços
deployment.defaultPort=80

// Override da porta por serviços
deployment.SvcCliente.port=80

// 
security.enabled = false

// Ativa/Desativa HTTPS
ingress.https.enabled = false

// Ativa/Habilita HTTP
ingress.http.enabled = true 

// Provedor de mensageria
messaging.provider="rabbitmq"


// Nome AMI Default para uso nos deployments
// O valor é um hash contendo o owner e máscara de pesquisa para o nome
defaultAmi= [ 
	owner : "434341947526",
	name : "http-server"	
]


// Mapa de AMIs para cada deployment.

amiMap = [
	'SvcCliente' : [
		owner: '434341947526',
		name: 'petshop-clientes'
		],
	'SvcFeedback' : [
		owner: '434341947526',
		name: 'petshop-feedback'
		]	
]


 
 
// É possível criar overrides para diferentes ambiente
environments {
 	qa {
 	}
 
 	prod {
		//messaging.provider="rabbitmq-ha"
 	}
 
 	local {
 	}
}
